.wd-navigation {
  background-color: white;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.course-navigation-wrapper {
  position: absolute;
  width: 192px;
  top: 0;
  right: 100%;
}

.sticky-wrapper {
  position: sticky;
  top: 0;
  max-height: calc(100vh - 4.5rem); /* Adjust according to your layout */
  padding: 24px 12px 24px;
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

.wd-navigation li {
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.wd-navigation li.wd-active {
  border-left: 2px solid black;
}
.wd-navigation li.wd-active a {
  color: black;
}
.wd-navigation a {
  color: red;
  text-decoration: none;
}

@media (max-width: 768px) {
  .wd-navigation {
    display: none;
  }
}
